{% style %}

  .cus-img-banner-section figure img{width: 100%;vertical-align: middle;object-fit: cover;}

  @media screen and (max-width:991px){
    .cus-img-banner-section .page-width{max-width:100%;padding:0;}
  }
  
{% endstyle %}


<section class="cus-img-banner-section mt_90" style="background:{{ section.settings.back_color }}">   
  <div class="page-width"> 
    {% if section.settings.image != blank %}
      <figure>
        <img src="{{ section.settings.image | img_url : "master" }}" alt="{{ section.settings.image.alt | escape }}" loading="lazy">
      </figure>
    {% endif %} 
  </div>
</section>


{% schema %}
  {
    "name": "Custom Image Banner",
    "settings": [
      {
        "type": "color",
        "id": "back_color",
        "label": "Background",
        "default": "#fff"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image Banner"
      }
    ],
    "presets": [
      {
       "name": "Custom Image Banner", 
      }
    ]
  }
{% endschema %}