{% style %}
  .sticy_accordian{
    display:none;
  }

  .sticy_accordian{
    position: fixed;
    top: 0;
    right: 50%;
    transform: translate(50%, -100%);
    z-index:11;
    width: 100%;
    background: #fff;
    transition: transform .35s ease, opacity .35s ease;
    opacity:0;
    pointer-events:none;
    border-bottom:1px solid #e5e5e5;
  }

  .template-product  .sticy_accordian{
    display:block;
  }

  .sticy_accordian.show{
    transform: translate(50%, 0);
    opacity:1;
    pointer-events:auto;
  }

  .sticy_accordian .top_accordion{
    max-width:1440px;
    margin:0 auto;
    padding:15px;
  }

  .top__additional-description{
    max-height:0;
    overflow:hidden;
    transition:max-height .4s ease;
  }

  .top__additional.active .top__additional-description{
    max-height:500px;
  }

  .top__additional-title{
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:0;
    font-size:24px;
    font-weight:500;
    letter-spacing:.5px;
  }

  .top__additional svg{
    transform:rotate(90deg);
    transition:transform .3s ease;
    height:13px;
    width:19px;
  }

  .top__additional.active svg{
    transform:rotate(-90deg);
  }

  .top__additional .description{
    display:flex;
    flex-direction:column;
    gap:14px;
    padding-top:16px;
  }

  .top__additional .description a{
    text-decoration:none;
    font-family: var(--argentum);
    font-size:14px;
    line-height: normal;
    text-transform:uppercase;
    opacity:.6;
    transition:.25s;
  }

  .top__additional .description a.active{
    opacity:1;
    color:#000;
  }

  @media(min-width:768px){

    .top__additional{
      display:flex;
      align-items:center;
      justify-content:space-between;
      gap:40px;
    }

    .top__additional-title{
      cursor:default;
    }

    .top__additional svg{
      display:none;
    }

    .top__additional-description{
      max-height:none !important;
      overflow:visible;
      flex:1;
    }

    .top__additional .description{
      flex-direction:row;
      justify-content:flex-end;
      align-items:center;
      padding-top:0;
      gap:28px;
    }

  }
  @media(max-width: 767px){
      .top__additional .description a{
          display: flex;
      }
        .top__additional .description a span{
        margin-left: 20px;
    }
    .top__additional .description a.active:before{
        content: "";
        width: 2px;
        min-height: 100%;
        display: block;
        background: #000;
        opacity:1;
    }
    .top__additional-title {
      font-size: 22px;
  }
  }

    @media(max-width: 375px){
    .top__additional-title {
      font-size: 20px;
  }
  }
{% endstyle %}

<div class="top_accordion">
  <div class="top__additional-wrapper">
    <div class="top__additional">
      <h2 class="h3 top__additional-title">
        <span>{% if product.metafields.Product.list_title != blank %}
            {{ product.metafields.Product.list_title }}
          {% else %}
            {{ product.title }}
          {% endif %}</span>
        <svg width="63" height="30" viewBox="0 0 63 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M56.0526 15C56.0527 15 56.0527 15 56.0527 15C56.0527 15 56.0527 15 56.0526 15L56.0526 15ZM54.0256 14.2105C48.5672 11.668 44.6859 6.30804 44.2512 7.73712e-06L45.8343 8.01393e-06C46.439 7.94896 53.0804 14.2105 61.1842 14.2105C61.5827 14.2105 61.9776 14.1954 62.3684 14.1657L62.3684 15.8344C61.9776 15.8046 61.5827 15.7895 61.1842 15.7895C53.0804 15.7895 46.439 22.0511 45.8343 30L44.2512 30C44.6859 23.692 48.5672 18.332 54.0256 15.7895L-2.76072e-06 15.7895L-2.48465e-06 14.2105L54.0256 14.2105Z" fill="currentColor"/>
        </svg>
      </h2>

      <div class="top__additional-description rte">
        <div class="description">
          {% for block in section.blocks %}
            <a href="{{block.settings.url}}">
              <span>{{ block.settings.text }}</span>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const sticky = document.querySelector('.sticy_accordian');
    const triggerPoint = 50;

    window.addEventListener('scroll', () => {
      if (window.scrollY > triggerPoint) {
        sticky.classList.add('show');
      } else {
        sticky.classList.remove('show');
      }
    });

    function enableAccordion() {
      const accordions = document.querySelectorAll('.top__additional');

      accordions.forEach((accordion) => {
        const title = accordion.querySelector('.top__additional-title');

        title.onclick = null;

        if (window.innerWidth < 768) {
          title.onclick = () => accordion.classList.toggle('active');
        } else {
          accordion.classList.add('active');
        }
      });
    }

    enableAccordion();
    window.addEventListener('resize', enableAccordion);

    const links = document.querySelectorAll('.sticy_accordian .description a');

    links.forEach((link) => {
      link.addEventListener('click', function () {
        links.forEach((l) => l.classList.remove('active'));
        this.classList.add('active');
        const accordions = document.querySelectorAll('.top__additional');
        accordions.forEach((accordion) => {
          accordion.classList.remove('active');
        });
      });
    });
  });
</script>

{% schema %}
{
  "name": "Top accordion",
  "class": "sticy_accordian",
  "settings": [],
  "blocks": [
    {
      "type": "url",
      "name": "scroll_link",
      "settings": [
        { "type": "url", "id": "url", "label": "Url" },
        { "type": "text", "id": "text", "label": "Text" }
      ]
    }
  ],
  "presets": [{ "name": "Top accordion" }]
}
{% endschema %}
